body {
	font: 16px Helvetica, Sans-Serif;
}

* {
  box-sizing: border-box;
}

/* Create column types for the resume section layouts that will float next to each other */
.column {
  float: left;
  padding: 10px;
  height: 120px;
}
.resume-name {
  width: 20%;
}
.resume-contact-left {
  width: 20%;
}
.resume-contact-right {
  width: 20%;
}
.summary {
  width: 20%;
}
.problem-solver-preventer {
  width: 50%;
}
.professional-experience {
  width: 50%;
}
.education {
  width: 25%;
}
/* clears the floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*display properties for resume sections*/
.my-name {
  font-size: 40px;
  font-style: bold;
}

.my-contact {
  font-size: 12px;
  font-style: bold;
}

.section-header {
	font-size: 20px;
	font-style: bold;
	border-bottom: 1px solid #999;
}

.company-school-name {
	font-size: 20px;
}

.job-title-degree {
	font-size: 20px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
  color: black;
}
