body {
	font: 16px Helvetica, Sans-Serif;
}

#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #213862;

	border-radius: 15px;
	height: 100px;
}

#header {
	width: 1200px;
	margin: 40px auto 60px;
}
#my-name {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#problem-solver-preventer {
	width: 800px;
	margin: 40px auto 60px;
}

#professional-experience {
	width: 800px;
	margin: 40px auto 60px;
}

#education {
	width: 800px;
	margin: 40px auto 60px;
}

#summary {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 20px;
}

#company-school-name {
	font-size: 28px;
}

#job-title-degree {
	font-size: 28px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
  color: black;
}
