body {
	font: 16px Helvetica, Sans-Serif;
	margin:  10px 10px 10px 10px;
}

* {
  box-sizing: border-box;
}

/* Create column types for the resume section layouts that will float next to each other */
.column {
  float: left;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 6px;
  vertical-align: text-top;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:  0px;
  margin-bottom: 0px;
}
.resume-name {
  width: 25%;
  height: 90px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  overflow: auto;
  margin-right: 0px;
  margin-top: 10px;
  padding-left: 6px;
}
.resume-contact-left {
  width: 15%;
  height: 90px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  overflow: auto;
  margin-left: 0px;
  margin-right: 0px;
}
.resume-contact-right {
  width: 21%;
  height: 90px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  overflow: auto;
  margin-left: 0px;
}
.summary {
  width: 15%;
  height: 600px;
  /*padding: 25px;*/
  border: 2px solid black;
  overflow: auto;
}
.problem-solver-preventer {
  width: 45%;
  height: 600px;
  padding: 25px;
  border: 2px solid black;
  overflow: auto;
}
.professional-experience-narrow {
  width: 35%;
  height: 300px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  margin-bottom: 0px;
  margin-right: 0px;
}
.education {
  width: 25%;
  height: 300px;
  border: 2px solid black;
  overflow: auto;
  margin-left: 0px;
  margin-bottom: 0px;
}
.professional-experience-full {
  width: 60%;
  height: 1000px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 0px;
}
/* clears the floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*display properties for resume sections*/
#my-name {
  font-size: 40px;
  font-weight: bold;
}

#my-contact {
  font-size: 16px;
  font-weight: bold;
}

#section-header {
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-spacing:  0px;
  margin: 0px 0px 0px 0px;
}

#company-school-name {
	font-size: 20px;
	font-weight:  bold;
	margin: 0px 0px 0px 0px;
}

#job-title-degree {
	font-size: 20px;
	font-weight: bold
}

.date {
	float: right;
}

h1 {
	font-weight: bold;
	/*border-bottom: 2px solid black;
	border-spacing: 0px;*/
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid black;
	border-spacing: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

p {
  color: black;
}
